.test {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    color: $white;
    box-shadow:
        2px 2px 7px rgba(0, 0, 0, 0.2),
        31px 31px 55px rgba(0, 0, 0, 0.02);
    animation: animatedBG 7s infinite forwards ease-in-out;
    background-color: #9367ff;
    background-image: $bg;

    &:hover {
        animation: bgSize 0.5s 1 forwards ease-in-out;
    }

    @keyframes bgSize {
        from {
            background-size: 100%;
        }

        to {
            background-size: 90%;
        }
    }

    @keyframes animatedBG {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 70% 0;
        }

        100% {
            background-position: 0 0;
        }
    }
}