.header {

    font-family: Rubik;

    nav {
        border-radius: 33px;
        background: $white;
        box-shadow: inset 7px 7px 14px #e0e0e0,
            inset -7px -7px 14px white;
        padding: 20px;
        align-items: center;
        margin: 20px 0;
    }

    p {
        border-radius: 24px;
        background: $white;
        box-shadow: 7px 7px 14px #e0e0e0,
            -7px -7px 14px white;
        padding: 20px;
        transition: 0.2s;

        &:hover {
            background: $purple;
            color: $white;
            cursor: pointer;
        }
    }
}