@font-face {
    font-family: quicksand;
    src: url('../../fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: quicksand-B;
    src: url('../../fonts/Quicksand/Quicksand-Bold.ttf');
}

@font-face {
    font-family: Rubik;
    src: url('../../fonts/Rubik/Rubik-Regular.ttf');
}