// Colors

//HOME
$white: #f3f3f3;
$grey: #f3f3f358;
$black: #242424;
$text-grey:rgb(88, 88, 88);
$clear-black: rgba(32, 32, 32, 0.4);
$clear-blacker: rgba(32, 32, 32, 0.5);
$dark: rgb(43, 43, 43);
$purple: #9367FF;
$yellow: #EBE47A;
$orange: #fc8a61;
$pink: #ff006e;
$list: $purple, $orange, $yellow, $pink;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1400px;