// Colors
$white: #f3f3f3;
$black: #242424;
$purple: #9367FF;
$yellow: #ffbe0b;
$orange: #fc8a61;
$pink: #ff006e;

$list: $purple, $orange, $yellow, $pink;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1400px;