// Colors
$yellow: #FFED71;
$orange: #fc8a61;
$pink: #FF7EB1;
$purple: #9367FF;
$blue: #6BD7FF;
$grey: #898989;
$white: #f3f3f3;
$brown: #e8b478;
$orange: #ffbe0b;
$black: #242424;
// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1400px;