.home {
    background: $white;
    user-select: none;
    padding: 30px 30px 20px 30px;

    .item {
        background-color: $white;
        height: 100%;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 33px;
        transition: 0.2s;
        box-shadow:
            2px 2px 7px rgba(0, 0, 0, 0.2),
            31px 31px 55px rgba(0, 0, 0, 0.02);

        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            color: $black;
            background: white;
            padding: 20px;
            border-radius: 24px;
        }

        &.about {
            background-position-x: 0%;
            background: linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(315deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, transparent 24%, #ff006e 25%, #ff006e 45%, transparent 45%), linear-gradient(315deg, transparent 24%, #ff006e 25%, #ff006e 45%, transparent 45%);
            background-size: 3em 3em;
            background-color: #ffffff;
            animation: waveRight 4s infinite linear;
        }

        &.skills {
            background: radial-gradient(circle, #fb5607 10%, transparent 11%), radial-gradient(circle at bottom left, #fb5607 5%, transparent 6%), radial-gradient(circle at bottom right, #fb5607 5%, transparent 6%), radial-gradient(circle at top left, #fb5607 5%, transparent 6%), radial-gradient(circle at top right, #fb5607 5%, transparent 6%);
            background-size: 3em 3em;
            background-color: #ffffff;
            animation: float 4s infinite linear;
        }

        &.projects {
            background: radial-gradient(circle at top left, transparent 25%, #ffbe0b 25.5%, #ffbe0b 36%, transparent 37%, transparent 100%), radial-gradient(circle at bottom right, transparent 34%, #ffbe0b 34.5%, #ffbe0b 45.5%, transparent 46%, transparent 100%);
            background-size: 3em 3em;
            background-color: #ffffff;
            animation: diagonalUp 4s infinite linear;
        }

        &.contact {
            background: radial-gradient(circle at 60% 40%, #8338ec 25%, transparent 26%), radial-gradient(circle at 40% 60%, #8338ec80 25%, transparent 26%);
            background-size: 3em 3em;
            background-color: #ffffff;
            animation: diagonalDown 4s infinite linear;
        }

        &:hover {
            transform: translate(0px, -10px);
        }
    }

    .dnd-container {
        gap: 30px;
        position: relative;

        .drag-gesture {
            position: absolute;
            left: 50%;
            top: 50%;
            justify-content: center;
            align-items: center;
            padding: 50px;
            opacity: 0;

            img {
                width: 40px;
            }

            &.active {
                animation: dnd 1s 2 forwards ease-in-out;
            }
        }
    }

    .dragging-zone,
    .drop-zone {
        padding: 40px;
        min-height: 78vh;

    }

    .dragging-zone {
        width: 100%;
        border-radius: 33px;
        background: $white;
        box-shadow: inset 19px 19px 38px #e0e0e0,
            inset -19px -19px 38px #ffffff;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            box-shadow: 0px 0px 10px 5px #8b8b8b27;
            padding: 20px;
        }

    }

    .drop-zone {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 33px;
        background: $white;
        box-shadow: inset 19px 19px 38px #e0e0e0,
            inset -19px -19px 38px #ffffff;
        transition: 0.5s;

        .skills,
        .about,
        .projects,
        .contact {
            h1 {
                text-align: left;
                padding-left: 0;
            }

            p {
                font-size: 22px;
                text-align: left;
                animation: fade 0.5s 1 ease-out;
                position: relative;
            }

            >* {
                border-radius: 33px;
                padding: 20px;
                background: white;
                box-shadow: 0px 0px 10px 5px #8b8b8b27;
            }

            .data {
                margin: 30px;
            }

        }

        .skills {
            ul {
                margin: 0;
                color: $black;
                font-size: 26px;

                li {
                    animation: slideRight 0.5s 1 ease-out;
                }
            }

            ul:first-of-type {
                margin-bottom: 20px;
            }

            ul:last-of-type {
                text-align: right;
            }



        }

        .about {

            .data {
                position: relative;
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 33px;
                object-position: 0 -25px;
                // right: 20px;
                // top: 20px;
                animation: fade 1s 1 0.3s forwards;
                transition: 0.2s;
                opacity: 0;

                &:hover {
                    transition: 0.2s;
                    object-position: 0 65%;
                }
            }

            p {
                margin-bottom: 12px;
            }
        }

        .contact {
            h1 {
                padding: 20px 20px 0px 20px;
                text-align: center;
            }

            .data-contact {
                padding: 20px;
                gap: 10px;
                justify-content: center;
                transition: 0.2s;

                a {
                    background-size: 100% 100%;
                    transition: 0.2s;
                    width: 50px;
                    height: 50px;
                }

                a:hover {
                    transition: 0.2s;
                    // animation: rotate 2s infinite linear;
                    // background-color: gray;
                    // padding: 30px;
                    transform: scale(1.4);
                }

                :nth-child(1) {
                    background-image: url('../../pics/icons/github.svg');
                    border-radius: 50%;
                }

                :nth-child(2) {
                    background-image: url('../../pics/icons/linkedin.svg');
                }

                :nth-child(3) {
                    background-image: url('../../pics/icons/facebook.svg');
                    border-radius: 50%;

                }

                :nth-child(4) {
                    background-image: url('../../pics/icons/instagram.svg');
                }

                :nth-child(5) {
                    background-image: url('../../pics/icons/email.svg');
                }

            }

            a {
                min-height: 40px;
                min-width: 40px;
            }
        }

        .projects {
            transition: 0.2s;

            .data-projects {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                transition: 0.2s;

                .project {
                    box-shadow: 0px 0px 10px 2px #8b8b8b27;
                    border-radius: 33px;
                    padding: 16px;
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                p {
                    font-size: 18px;
                }

                a {
                    display: flex;
                    justify-content: center;
                    font-family: quicksand-b;
                    font-size: 20px;
                    background-color: $yellow;
                    border-radius: 33px;
                    margin-top: 4px;
                    bottom: 0;

                    img {
                        width: 20px;
                    }

                    &:hover {
                        img {
                            animation: link 0.3s 1 forwards ease-in-out;
                        }
                    }

                    &:visited {
                        color: $black;
                    }
                }


            }
        }
    }
}