.home {
    height: 100vh;
    // padding: 10px;
    background-color: $brown;
    transition: 0.5s;

    .main-container {
        margin: 50px;
    }

    p {
        height: 50px;
        text-align: center;
        background-color: $white;
        font-size: 24px;
        white-space: pre-wrap;
    }

    .person {

        &:not(:first-child) {
            margin: 5px 0;
        }

        p {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 33px;
            box-shadow:
                2px 2px 7px rgba(0, 0, 0, 0.2),
                31px 31px 55px rgba(0, 0, 0, 0.02);
        }

    }

    .dragging-zone {
        width: 100%;
        border-radius: 33px;
        background: #e8b478;
        box-shadow: inset 29px 29px 58px #d1a26c,
            inset -29px -29px 58px #ffc684;
        padding: 50px;
        transition: 0.5s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .person {
            height: 100%;

        }
    }

    .drop-zone {
        width: 100%;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        border-radius: 33px;
        background: #e8b478;
        box-shadow: inset 29px 29px 58px #d1a26c,
            inset -29px -29px 58px #ffc684;
        padding: 50px;
        transition: 0.5s;

        .person {
            height: 100%;
        }

    }
}