.home {
    height: 100vh;
    // padding: 10px;
    background-color: $brown;
    transition: 0.5s;
    user-select: none;

    .main-container {
        margin: 50px;
    }

    p {
        height: 50px;
        text-align: center;
        background-color: $white;
        font-size: 40px;
        white-space: pre-wrap;
    }

    .person {

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        p {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 33px;
            color: $white;
            box-shadow:
                2px 2px 7px rgba(0, 0, 0, 0.2),
                31px 31px 55px rgba(0, 0, 0, 0.02);
            animation: animatedBG 7s infinite forwards ease-in-out;
            background-color: #9367ff;
            background-image: $bg;

            &:hover {
                animation: bgSize 0.5s 1 forwards ease-in-out;
            }

        }

        p::after {
            font-size: 5px !important;
        }

        @keyframes bgSize {
            from {
                background-size: 100%;
            }

            to {
                background-size: 90%;
            }
        }

        @keyframes animatedBG {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 70% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    }

    .dragging-zone {
        width: 100%;
        border-radius: 33px;
        background: #e8b478;
        box-shadow: inset 29px 29px 58px #d1a26c,
            inset -29px -29px 58px #ffc684;
        padding: 50px;
        transition: 0.5s;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .person {
            height: 100%;

        }
    }

    .drop-zone {
        width: 100%;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        border-radius: 33px;
        background: #e8b478;
        box-shadow: inset 29px 29px 58px #d1a26c,
            inset -29px -29px 58px #ffc684;
        padding: 50px;
        transition: 0.5s;

        .person {
            height: 100%;
        }

    }



}