* {
    box-sizing: border-box;
}

html {
    font-family: quicksand;
    // background-color: $white;
    transition: 0.1s;
    background-color: $yellow;

    h2 {
        color: $black;
    }

    p,
    li {
        color: $black;
    }

    &.active {
        background-color: $dark;

        li,
        h2 {
            color: $text-grey;
        }

        // p,
        // li {
        //     color: $black;
        // }

        .canvas {
            display: block;
        }
    }

    .canvas {
        display: none;
    }

    @include for-tablet-layout {
        background-color: $yellow;

        &.active {
            background-color: $yellow;

            .canvas {
                display: none;
            }
        }
    }

}


body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0;
}